@CHARSET "UTF-8";

*{
	margin:0;
	padding:0;
}

body {
	background-color:#FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11pt; 
	color: #000000;  
	text-align: justify; 
}

#cabecalho {
    height: 200px;
    background:  #d3d3d3 url(../img/1234.jpg) center no-repeat scroll;
    text-align: center;
    clear: both;  /*nao flutuar*/
}



#titulo1{  /* <div id="titulo2"> abc </div> */
	font-weight: bold;
	text-transform: uppercase;
	color: #005500;
	font-size: 16pt;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


#titulo2{  /* <div id="titulo3"> abc </div> */
	font-weight: bold;
	color: #6d4109;
	font-size: 14pt;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


/* ======= MENU  ===== */

#menu {
    overflow: hidden;
    background-color: #333;
    
}
/*Estilo dos link do menu superior*/
#menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*Mudar a cor quando passar o mouse */
#menu a:hover{
    background-color: darkgrey;
    color: black;
}



/* ======= CORPO  ===== */

#corpo{
    padding: 0px 10px 10px 10px;  /* sup dir inf esq */
    background-color:#FFFFFF;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11pt; 
    color: #000000;  
    text-align: justify; 
}


.negrito{
	font-weight: bolder;
	color: #6d4109;
	font-size: 11pt;
}

.maiusculo{
	text-transform: uppercase; /* letra maiusculo */
        background-color: #fff;
}

.maiusculo:focus{
	text-transform: uppercase; /* letra maiusculo */
        background-color: #f6f6d5;
}

.minusculo{
	text-transform: lowercase;  /* letra minusculo */
        background-color: #fff;
}

.msg {
	color: #006400;
        font-weight: bold;
}

.msgERRO {
	color: #ff0000;
        font-weight: bold;
}

.legenda{
    font-size: 9pt;
    text-align: center;
    color: #363636;
}


.conteudo_e, a:link, a:visited, a:active{
	text-align:left;
    white-space: nowrap;
	text-decoration: none;
	color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}


.conteudo_e, a:hover{
	text-decoration: none;
	color: #0000ff;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;	
}









/* === RODAPE} ==== */

#rodape{
	background-color: #333;
	text-align: center; 
	color:white;
	font-family: Verdana;
	font-size: 9pt;
	padding: 10px;
	clear: both;  /*nao flutuar*/
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}